.navigointi {
	
	
  display: block;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #EBEDEF;
  text-align: center;
}



.container {
		text-align: center;
		margin-bottom: 200px;
}
	
.button {
		color: black;
		margin: 20px;
}
.row {
	color: black;
	border-bottom:2px solid black;
	padding: 1em;
}
	
.title {
	font-size: 8vw;
	text-align: center;
}
.title1 {
	font-size: 8vw;
	text-align: center;
	padding: 20px;
}
ul {
  list-style-type: none;
}

ul li {
	display: inline;
}

.nav-link2 {
	padding: 20px;
	font-size: 20px;
	text-align: center;
}


.nav-link2:hover {
	color: #A9A9A9;
}
		

.nav-link2:link {
	color: #000000;
	transition: 0.5s ;
}

@media only screen and (max-width: 600px){
  .nav-link2 {
	  padding: 0px;
	  }

}
 
a {
	color: black;
}	

a:hover {
	color: gray;
	transition: 0.5s ;
}


.footer-link {
	text-align: right;
	font-size: 10px;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.kuvaus {
	text-align: left;
	padding: 20px;
	color: #696969;
	border-bottom: black;
}
	



.blogimage {
	height: 200px; 
	color: black;
	border-bottom:2px solid black;
	padding-bottom: 1em;
	padding-left: 35%;
	padding-right: 35%;
	text-align: center; 
}

.subtitle {
	text-align: center;
	text-shadow: 2px 2px 8px #888888;
}
.card-title {
	font-size: 15px;
}

.card-body { 
	height: 200px;
	margin: 10px;
	overflow: hidden;
	font-size: 10px;
}

.mybutton {
	box-shadow:inset 0px 1px 0px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:6px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}

.cont1 {
	background: url(img/kalajoki3.jpg);
	background-size: cover;
	padding-bottom: 100px;
	margin-bottom: 10px;
}

.lomake {
	padding-top: 10px;
}

.lomake2 {
	padding: 5px;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #5499C7;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #5499C7;
}

.insta {
	padding: 25px;
	margin: 25px;
}

@media only screen and (max-width: 600px){
  .insta{
	  padding: 0px;	margin: 0px;
	  }

}
